/* We're just overriding small details here to make it match the rest of the site */

ul.links {
    margin: 0px 0 25px 0;
    border-bottom: 0;
    border-top: 1px dotted #337ab7;
    padding: 5px 0;
}

ul.links li i {
    color: #337ab7;
}

ul.sidebar {
    border-top: 2px solid #337ab7;
    background-color: #ededed;
    padding: 20px;
    margin-bottom: 50px;
    list-style: none;
}

ul.sidebar li.tag {
    display: inline-block;
    background-color: #337ab7;
    padding: 3px 10px;
}

ul.sidebar ul li i {
    color: #337ab7;
}

a:hover {
    color: #337ab7;
}

.blog_btn.continue {
    display: block;
    margin-bottom: 0px;
    text-align: right;
    background-color: transparent;
    color: #337ab7;
    padding: 0px 0;
}

h2 a:hover {
    color: #337ab7;
    text-decoration: none;
}

.about {
	position: relative;
	background-image: url("/static/personal_site/images/altbg.jpg");
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-color: #DDDDDD;
	font-family: Roboto;
	max-width: 100%;
	overflow-x: hidden;
    margin-bottom: 4em;
}

.blog_sidebar .input-group-btn {
    background: #337ab7;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.blog_sidebar .rss-sitemap i {
    color: #337ab7;
}

.lateralPosts li {
    font-size: 0.7em;
    display: inline-block;
    color: #337ab7;
}

.itemPosts {
    margin-top: 10px;
    padding-top: 15px;
    border-top: 1px dotted #337ab7;
}

.itemPosts .box.feature a {
    color: #337ab7;
}

.pagination .endless_separator {
    background: transparent;
    color: #337ab7;
    font-size: 18px;
}

.pagination span.endless_page_current,
.pagination .endless_page_link {
    padding: 7px 11px;
    color: #337ab7;
}

.pagination .endless_page_current:active,
.pagination .endless_page_link:active {
    background: #337ab7;
}

.pagination span {
    background: #337ab7;
}

.footer_bottom {
    background-color: #337ab7;
    padding: 20px 40px;
}

.menu li.active > a {
    background-color: #337ab7;
    color: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.menu li.parent > a .open-sub:before,
.menu li.parent > a .open-sub:after {
    background: #337ab7;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    margin: 19px 0 0 15px;
    position: absolute;
    top: 0;
    width: 16px;
}

/* Overriding fonts in blog post text*/
.rich-text > * {
    font-weight: 300;
    font-size: 120%;
    color: #333333;
}

.rich-text > h2 {
    font-size: 36px;
}

.richtext-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  font-size: 11px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

