{# Small block element used to render DisplayItems on the front page#}
{% load staticfiles %}
<div class="col-lg-3 col-md-4 col-sm-8 col-xs-10" style="opacity:1.0; display:none; word-wrap: break-word;" id="display_item">
    <div class="row text-center" id="inner_div" style="padding-left:10px;padding-right:10px;">
        <img src="{% static 'personal_site/images/testpic.jpg' %}" class="img-thumbnail img-responsive" id="item_thumbnail">
        <h4 id="display_title">Testy</h4>
		
		<p id="display_subtitle"></p>
		
    </div>
</div>