{# Small block element used to render DisplayItems on the front page#}
{% load staticfiles %}
<div class="grid-item" style="word-wrap: break-word; width: 160px;" id="{{ obj.pk }}">
    <div class="text-center " id="inner_div" style="background: rgba(20,29,77,0.3);">
    <a href="{{ obj.external_link }}" target="_blank">
        {% if obj.thumbnail %}
        <img src="{{ MEDIA_URL }}{{ obj.thumbnail }}" class=" img-responsive" id="item_thumbnail" width="160px" style="margin: auto;">
        {% else %}
        <img src="{% static 'personal_site/images/stockdata.png' %}" class=" img-responsive" id="item_thumbnail" width="160px" style="margin: auto;">
        {% endif %}
        <h4 id="display_title" style="padding-bottom: 5px">{{ obj.title }}</h4>
    </a>
    </div>
</div>