<!DOCTYPE html>
<html lang="en">
<head>

    {% load staticfiles %}

<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script
			  src="https://code.jquery.com/jquery-2.2.3.min.js"
			  integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
			  crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">  <!--style="position:fixed;"-->
			<div class="nav-sidebar">
<!-- 				<div class="affix"> -->
				<!-- <div class="col-md-12 text-center "> -->
                <h1>THIS IS A TESTY!</h1><hr>
				<!-- </div> -->
				<!-- </div> -->
			</div>
		</div>
		<!--<div class="col-md-2"></div>-->
		<div class="col-md-8 main">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Hello!</h1>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<h3>Post Title  1</h3>
					<p>Lorem ipsum  dolor  sit amet ... </p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<h3>Post Title  2</h3>
					<p>Lorem ipsum  dolor  sit amet ... </p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<h3>Post Title  3</h3>
					<p>Lorem ipsum  dolor  sit amet ... </p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<h3>Post Title  4</h3>
					<p>Lorem ipsum  dolor  sit amet ... </p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<h3>Post Title  5</h3>
					<p>Lorem ipsum  dolor  sit amet ... </p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<h3>Post Title  6</h3>
					<p>Lorem ipsum  dolor  sit amet ... </p>
				</div>
			</div>
			<div class="row">
				<h1>T</h1>
				<h1>T</h1>
				<h1>T</h1>
				<h1>T</h1>
				<h1>T</h1>
				<h1>T</h1>
				<h1>T</h1>
				<h1>T</h1>
				<h1>T</h1>
				<h1>T</h1>
				<h1>T</h1>
			</div>
		</div>
	
	</div>
	</div>
</body>

</html>