{# Small block element used to display elements that would normally take a whole row #}
{% load staticfiles %}
<div class="row " id="row_item" style="background-color: rgba(0,0,0,0.15); padding-top: 2%;padding-bottom: 2%; margin:1%;">
    <div class="row">
        <!-- Side Image/Thumbnail -->
        <div class="col-lg-2 col-md-2 col-sm-6" id="inner_div">
            <img src="{% static 'personal_site/images/testpic.jpg' %}" class=" img-responsive" id="row_item_thumbnail" style="margin-left: auto; margin-right: auto; width: 80%; margin-bottom: 15px;">
        </div>

        <!-- Central Text -->
        <div class="col-lg-10 col-md-10 col-sm-6" style="margin-left:-2%;">
            <div class="row">
                <div class="col-sm-8"><h3 style="margin-top: -5px;" id="row_item_title">Some Long Title Here</h3></div>
                <div class="col-sm-4 text-right"><p id="row_item_daterange">Aug 2012-May 2017</p></div>
            </div>
        </div>
    </div> 

    <div class="row col-sm-12">
        <h4 style="margin-top: -5px" id="row_item_subheader">Company & Location</h4>
        <p id="row_item_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <!-- Closing footer -->
    <p style="padding-left: 2%;padding-right: 2%;" id="row_item_tech">Technologies: <b>XYZ,XYZ,XYZ</b></p>

</div>