{# Small block element used to display a highlighted textline #}
{# Meant to work mainly with Honor items #}
{% load staticfiles %}
<div class="row " id="row_item" style="background-color: rgba(0,0,0,0.15); padding-top: 2%;padding-bottom: 2%; margin:1%;">
    <!-- Date -->
    <div class="col-md-1">
        <p><b>
	{% if obj.recurring %}{{ obj.date|date:"Y" }}-{{ obj.last_awarded|date:"Y" }}
	{% else %} {{ obj.date|date:"Y" }}
	{% endif %}
	</b></p>
    </div>

    <div class="col-lg-1 col-md-1"></div>{# Spacer #}

    <!-- Name and Entity -->
    <div class="col-lg-8 col-md-6" style="margin-top: -4%;">
        <h3>{{ obj.name }}</h3>
        {% if obj.entity %}<div>{{ obj.entity }}</div>{% endif %}
    </div>

    {% if obj.location %}
    <!-- Location -->
    <div class="col-lg-2 col-md-4 text-right">{{ obj.location }}</div>
    {% endif %}

    {# More info can be added here. #}
</div>